# Dependencies
node_modules

# Build outputs
dist
build
storybook-static

# Logs
*.log
npm-debug.log*

# Coverage
coverage

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store
